{% extends 'index.html' %} {% block content %}

<div
  class="jumbotron jumbotron-fluid text-center"
  style="background-color: rgb(55, 52, 52)"
>
  <div class="container py-5">
    <h1 class="display-4 text-white">{{ e.title }}</h1>
    <p class="lead text-white">{{ e.description }}</p>
  </div>
</div>
{% endblock %} {% block body %}

<div class="container w-25 mt-5">
  <div class="card mb-3">
    <img src="{{ e.image.url }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Date : {{ e.evt_date }}</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      {% if button %}

      <button class="btn btn-primary" disabled>
        <a class="btn btn-primary" href="{% url 'participer' e.id %}">
          Participer</a
        >
      </button>

      <button class="btn btn-danger">
        <a class="btn btn-danger" href="{% url 'cancel' e.id %}">Cancel</a>
      </button>

      {% else %}
      <button class="btn btn-primary">
        <a class="btn btn-primary" href="{% url 'participer' e.id %}">
          Participer</a
        >
      </button>

      <button class="btn btn-danger" disabled>
        <a class="btn btn-danger" href="{% url 'cancel' e.id %}">Cancel</a>
      </button>
      {% endif %}
      <p class="card-text mt-2">
        <small class="text-muted">Created date : {{ e.created_date }}</small>
      </p>
    </div>
  </div>
</div>

{% endblock %}
